#footer {
  position:fixed !important;
  left:0px !important;
  bottom:0px !important;
  height:30px !important;
  width:100% !important;
  background:#212529 !important;
}

.text-undername{
  color: #e0e2e3;
}

a {
color: black;
}