/* Oscar css */
.bg-primary {
    background-color: #40739e!important;
}

.text-primary {
    color: #273c75!important;
}

@font-face
{
   font-family: "Cristalab";
   src: url("fuentefancy.eot");
   src: url("fuentefancy.eot?#amocristalab") format("embedded-opentype"),
        url("fuentefancy.woff") format("woff"),
        url("fuentefancy.ttf") format("truetype"),
        url("fuentefancy.svg#IDdelafuente") format("svg");
}
a{
	color: #273c75;
}

code{
  font-size: 14px;
  border: 1px solid #111;
  border-radius: 2px;
  background-color: #d2d2d2;
  color: #111;
  padding: 1px 5px;
  font-family: monospace;
}

p{
	font-family: montserrat;
}

.exampleText{
color: #353b48;
font-family: montserrat;
}